{% extends "base.html" %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% for item in task_list %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>{{ item.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        {% empty %}
            <p>You have no tasks</p>
        {% endfor %}
    </div>
{% endblock content %}
