{% extends "base.html" %}

{% block title %}
    Details
{% endblock title %}
{% block content %}
    <div>
        <h1>{{ project_view.name }}</h1>
        <p>{{ project_view.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% for value in project_view.tasks.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>{{ value.name }}</td>
                            <td>{{ value.assignee.username }}</td>
                            <td>{{ value.start_date }}</td>
                            <td>{{ value.due_date }}</td>
                            <td>{{ value.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        {% empty %}
            <p>This project has no tasks</p>
        {% endfor %}
    </div>
{% endblock content %}
