{% extends "base.html" %}

{% block title %}
    List Page
{% endblock title %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if list_projects %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    <tbody>
                        {% for item in list_projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                                </td>
                                <td>{{ item.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
{% endblock content %}
